<nav class="navbar">
    <div class="logo">SAKILA VIDEO</div>
    <ul>
        <li><a href="/">Inici</a></li>
        <li><a href="/movies">Pel·lícules</a></li>
        <li><a href="/customers">Clients</a></li>
    </ul>
</nav>