<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <title>Pel·lícules - Sakila</title>
</head>
<body>
    {{> menu}}
    <main class="container">
        <h1>Llista de Pel·lícules (Top 15)</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Títol</th>
                    <th>Any</th>
                    <th>Actors</th>
                </tr>
            </thead>
            <tbody>
                {{#each movies}}
                <tr>
                    <td><strong>{{this.title}}</strong></td>
                    <td>{{this.release_year}}</td>
                    <td>{{this.actors}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main>
    {{> footer}}
</body>
</html>